.main-page__bannerblue-wrap {
  background-image: url("/images/banner/banner-home-02.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  position: relative;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 42px;
}

.main-page__bannerblue {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

.main-page__bannerblue-heading{
  font-size: 36px;
}

.main-page__bannerblue-text {
  font-family: 'clear_sansbold', serif;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  max-width: 625px;
  left: 50%
  top: 50%;
  width: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.join-bannerblue {
  color: #fff;
  font-size: 16px
  line-height: 20px;
  font-family: "clear_sansregular", Helvetica, Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;

  .icon {
    background: url("/images/icons_with_bg/join-arrow.svg") no-repeat;
    background-size: 6px 10px;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 10px;
    margin-left: 5px;
  }
}