#page-container {
    background: #FFF;
}

.wrapper {
    max-width: 1206px;
    margin: 0 auto;
}

.wrapper .row {
    margin: 0 -10px;
}
.agreement .row:before {
    display: table;
    content: " ";
}

.agreement h1 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 66px 0 37px;
}

.agreement h2 {
    padding: 20px 0px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.agreement ol {
    list-style: decimal outside;
}

.agreement ol, .agreement ul {
    padding-left: 20px;
}

.agreement ul {
    list-style: disc outside;
}

strong, b {
    font-weight: bold;
}

strong {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}