@import 'base';
@import 'variables';
@import 'mixin';

.edit-btn {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 7px 12px 7px 12px;
  border-radius: 16px;
  background: #833BA0;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 30px;


  .icon-edit {
    fill: white;
    width: 12px;
    height: 12px;
    margin: 0 8px 0 0;
  }
}

.article {
  &__wrapper {
    margin-bottom: 16px;
  }

  .content {
    max-width: 820px;
    width: 100%;
    margin: 0 310px 40px 0;
    float: left;

    img {
      width: 100%;
    }
  }

  .textarea-wrap {
    margin-top: 40px;
  }

  &__date {
    font-size: 16px;
    color: #8b8b8b;
  }

  &__city {
    font-size: 16px;
  }
}

@media only screen and (min-width: 761px) {
  .article {
    .section-title {
      font-family: 'ClearSansBold';
      font-size: 40px;
      line-height: 25px;
      .icon-blog {
        background-size: 43px 45px;
        width: 43px;
        height: 45px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .article {
    .content {
      float: none;
      margin: 0;
    }

    .comments__wrapper {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .article {
    &__date {
      text-align: center;
    }
    &__city {
      text-align: center;
    }
  }
}
