.selectize-input--search {
  border: 1px solid #90a4ae;
  padding: 0!important;
}

.selectize-input .event-search__city-input {
  width: 100%;
  height: 100%;
  padding-left: 33px!important;
}

.event-search__city-results {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  border: 1px solid #90a4ae;
}