.cards-sort__item:not(.cards-sort__item--active):hover {
    color: #1076ff;
}

.cards-sort__item--active {
    pointer-events: none;
    color: #263238;
    text-decoration: underline;
}

.cards-sort__item--active:hover {
    text-decoration: underline;
}

.pages__error-text {
    font-size: 20px;
}

.blog-title {
    width: auto;
    margin: 0;
    text-align: left;
    display: inline-block;
}