@import 'base';
@import 'variables';
@import 'mixin';

.blog {
  .pagination__item {
    &.active {
      background-color: @blog;
      border-color: @blog;
    }
  }
}

.blog {
  .filter {
    padding-left: 200px;
    .select-wrap {
      padding: 20px 30px 20px 20px;
      border-right: 1px solid #dcdcdc;
      margin: 0;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .select {
      width: 100%;
    }
    &:after {
      display: none;
    }
  }

  .content {
    .default-button {
      .button(blog);
    }
  }
}

.select-wrap {
  .label {
    font-size: 16px;
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
  }
}

.select {
  position: relative;

  .icon {
    .arrow-dropdown;
  }

  &__dropdown {
    background-color: #fff;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    max-height: 200px;
    border-radius: 3px;
    padding: 10px 0;
    border: 1px solid @border;
    z-index: 10;

    &:before {
      position: absolute;
      top: -8px;
      left: 70px;
      .triangle(top, 8px, 8px, @border);

    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 71px;
      top: -7px;
      .triangle(top, 7px, 7px, #fff);
    }
  }

  &__item {
    font-size: 14px;
    line-height: 18px;
    color: @grayText;
    cursor: pointer;
    padding: 3px 15px;
    display: block;

    &:hover {
      color: #000;
    }
  }

  .input {
    padding-right: 30px;
  }

  &.open {
    .select__dropdown {
      display: block;
    }
  }
}