@import '../__base/animation';
@import '../__base/variables/colors';
@import '../../containers/App/base/mixin';

.Spin {
  display: inline-block;
  position: relative;
  &__spinning {
    transform: translateZ(0);
    vertical-align: middle;
    fill: @primary;
    animation: rotate 1.4s infinite linear;
  }

  &__icon {
    .align-full();

    fill: @primary;
  }
}
