@import '../__base/variables/colors';

.Like {
  &__button {
    &.Button_view_fab {
      @media (hover: hover) {
        &:hover {
          .Icon {
            fill: @red;
          }
        }
      }
    }
  }

  &__icon {
    display: inline-block;
    fill: #92989b;
  }

  &__counter {
    margin-left: 3px;
    color: #a9aeb0;
  }

  &_liked {
    .Icon {
      fill: @red;
    }
  }
}
