@import 'base';
@import 'variables';
@import 'mixin';

.EventsPage {
  .SliderBar {
    margin-bottom: 30px;
  }

  .content {
    .default-button {
      .button(event);
    }
  }

  .section-title {
    margin-bottom: 30px;

    .icon-event {
      margin-right: 10px;
    }
  }
}
