@import 'base';
@import 'variables';
@import 'mixin';

.event {
  .filter .select {
    margin-top: 15px;
  }

  .filter .date-range {
    vertical-align: top;
    margin: 15px 15px 0;
  }

  .pagination__item {
    &.active {
      background-color: @event;
      border-color: @event;
    }
  }
  .content {
    .default-button {
      .button(event);
    }
  }
  .section-title {
    .icon-event {
      margin-right: 10px;
    }
  }
}