.selectize-input__results {
  width: calc(100% + 2px);
  height: 155px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: #fff;
  padding-bottom: 5px;
  border: 1px solid #90a4ae;
  box-sizing: border-box;
}

.selectize-input--active {
  border-radius: 20px 0 0 0!important;
}

.events__search-input {
  height: 20px;
}

.event-search__button--mobile {
  display: none;
  margin: 20px auto;
}

@media all and (max-width: 500px) {
  .event-search__button--mobile {
    display: block;
  }
}