@import 'icons';
@import 'mixin';
@import 'variables';

.profile {
  &__submenu {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    max-width: 850px;
  }
  &-submenu {
    &__item {
      font-size: 16px;
      line-height: 20px;
      color: #78909c;
      display: inline-block;
      vertical-align: top;
      &:hover,
      &.active {
        .icon {
          filter: grayscale(0%);
          fill: #1076ff;
        }
      }
      &.my-abbigli .icon {
        background: url("/images/icons/abbigli.svg") no-repeat;
        width: 40px;
        height: 40px;
        background-size: 40px;
      }

      &.back {
        display: none;
      }
      .icon-wrap {
        position: relative;
        height: 40px;
        width: 40px;
        margin: 0 auto 5px;
      }

      .icon {
        fill: #78909c;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        filter: grayscale(0%);
      }
    }
  }
  &-form {
    position: relative;
    .textarea {
      margin: 10px 0;
    }
    &__buttons {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .default-button {
      &:first-child {
        .button(default);
        margin-right: 15px;
        text-transform: none;
      }
      &:last-child {
        .button(cancelgoods);
        text-transform: none;

        .icon-close {
          display: none;
        }
      }
    }
  }
}


.profile-page--edit {
  .profile-header {
    &:before {
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &__edit {
      display: block;
    }
  }

  .profile-avatar {
    &__wrap {
      &:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
      }
    }
    &__edit {
      display: block;
    }
  }

  .profile-my {
    opacity: 0.3;
  }

  .profile-edit {
    opacity: 0.3;
    pointer-events: none;
  }
}

@media screen and (max-width: 500px) {
  .profile-form .default-button:last-child {
    font-size: 0;
    position: relative;
    width: 37px;
    min-width: initial;

    & .icon-close {
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
    }
  }

  .profile__submenu .profile-submenu__item {
    font-size: 0;

    .icon-wrap, .icon {
      width: 24px;
      height: 24px;
      background-size: 24px;
    }
  }
}
