.user-profile__info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-bottom: 30px;
}

.profile__edit-error {
  color: red;
  margin-top: 6px
}

.no-bg {
  background: #fff!important;
}