.popup.mobile-search__popup.register-popup {
  width: 400px;
  min-height: 500px;
  height: auto;
}

.register-popup__form {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.register-popup__field {
  width: 300px;
  margin-bottom: 15px;
}

.register-popup__label {
  color: #686868;
  margin-bottom: 5px;
}

.register-popup__label-require {
  font-size: 12px;
  color: #9e9e9e;
}

.register-popup__input {
  width: 100%;
  height: 41px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 100;
}

.register-popup__textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #e2e2e2;
  height: 85px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 100;
  margin-top: 8px;
  padding: 0;
}

.register-popup__input--phone {
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  flex-grow: 1;
}

.register-popup__phone-wrap {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  padding: 0 10px 0 0;
  align-items: center;
}

.register-popup__code {
  font-size: 16px;
  padding: 0 10px 0 0;
}

.register-popup__terms {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.3;
}

.register-popup__link {
  display: block;
  color: #0090de;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #007cc1;
  }
}

.register-popup__link--big {
  font-size: 18px;
}

.register-popup__notice {
  color: #868686;
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
}

.register-popup__fetch-button {
  width: 300px;
  height: 41px;
  text-align: center;
  color: #fff;
  background-color: #0090de;
  border: none;
  outline: none;
  font-size: 16px;
  flex-shrink: 0;
  position: relative;

  &:hover {
    background-color: #007cc1;
  }
}

.register-popup__button {
  width: 300px;
  height: 41px;
  text-align: center;
  color: #fff;
  background-color: #a5a5a5;
  border: none;
  outline: none;
  font-size: 16px;
  flex-shrink: 0;
  position: relative;
  margin-top: 15px;

  &:hover {
    background-color: #878787;
  }
}

.button-social.register-popup__social {
  width: 155px;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  .popup.mobile-search__popup.register-popup {
    height: 100%;
    min-height: 100%;
  }

  .register-popup__input, .register-popup__textarea {
    font-size: 18px;
  }

  .register-popup__code {
    font-size: 18px;
  }

  .register-popup__form {
    padding: 35px 0;
    overflow-y: auto;
    justify-content: space-between;
  }

  .buttons-social {
    width: 100%;
    max-width: 335px;
    padding: 0 5px;
  }

  .button-social.register-popup__social {
    width: 48%;
    margin: 0 10px 20px 0;
  }
}

.auth-popup-wrapper {
  z-index: 5
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.6)
}

.auth-popup{
  z-index: 10
  background-color: #fff;
  position: absolute;
  padding: 30px 20px 40px;
  top: 50%;
  max-height: 95%;
  overflow-y: auto;
  left: 50%;
  width: 550px;
  border: 1px solid #90a4ae;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 4px #3d4041;
  box-shadow: 0 2px 4px #3d4041;
}
.test {
color: #000;
}
.Select-control {
  border: 1px solid #90a4ae!important;
  border-radius: 2px!important;
}

.country {
  width: 100%;
  height: 41px;
  display: flex;
  padding: 0 19px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #e2e2e2;

  &:hover {
    background-color: #e2e2e2;
  }
}

.country__name {
  font-size: 16px;
}

.country__code {
  font-size: 14px;
  color: #686868;
}
