.auth-popup-wrapper {
  z-index: 5
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.6)
}

.auth-popup{
  z-index: 10
  background-color: #fff;
  position: absolute;
  padding: 30px 20px 40px;
  top: 50%;
  max-height: 95%;
  overflow-y: auto;
  left: 50%;
  width: 550px;
  border: 1px solid #90a4ae;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 4px #3d4041;
  box-shadow: 0 2px 4px #3d4041;
}
.test {
color: #000;
}
.Select-control {
  border: 1px solid #90a4ae!important;
  border-radius: 2px!important;
}
