.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  &_size {
    &_xs {
      width: 12px;
      height: 12px;
    }
    &_s {
      width: 18px;
      height: 18px;
    }
    &_m {
      width: 24px;
      height: 24px;
    }
    &_l {
      width: 30px;
      height: 30px;
    }
    &_xl {
      width: 36px;
      height: 36px;
    }
    &_xxl {
      width: 48px;
      height: 48px;
    }
  }
}
