.Icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  &_size {
    &_xs {
      width: 16px;
      height: 16px;
    }
    &_s {
      width: 24px;
      height: 24px;
    }
    &_m {
      width: 32px;
      height: 32px;
    }
    &_l {
      width: 48px;
      height: 48px;
    }
    &_xl {
      width: 64px;
      height: 64px;
    }
    &_xxl {
      width: 128px;
      height: 128px;
    }
  }
}
