.tile
  position: relative
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  height: 337px;
  margin: 8px;
  width: 23%;
  border: 1px solid #8f8e8e;
  @media phone
    display: block
    width: auto
  &__image-holder
    height: 256px
    position: relative
    overflow: hidden
    .tile__image
      position: absolute;
      width: auto;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media phone
        object-fit cover
  &__info
    background-color: #fff
    height: 78px
    text-align: left
    padding: 7px 12px;
  &__title
    font-family: 'clear_sansbold';
    display: block
    font-size 16px
    line-height: 20px
    color #1d1c1c
    padding-left: 30px
    margin-bottom: 4px
    position: relative
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    & + .tile__date
      white-space: nowrap
    &:hover
      text-decoration: underline
  &__title-icon
    position: absolute
    left: 0
    top: 50%
    transform: translate(0,-50%)
    &.bag
      background: url("/images/icons_with_bg/bag.svg") no-repeat
      background-size: 19px 15px
      width: 19px
      height: 15px
    &.event
      background: url("/images/icons_with_bg/events.svg") no-repeat
      background-size: 17px 16px
      width: 17px
      height: 16px
    &.blog
      background: url("/images/icons_with_bg/blogs.svg") no-repeat
      background-size: 21px 21px
      width: 21px
      height: 21px
  &__date
    font-size: 13px
    color: #1d1c1c
    padding-left: 30px
    text-overflow: ellipsis
    overflow: hidden
  &__city
    padding-left: 20px
  &__author
    width: 100%
    display: block
    position: absolute
    bottom: 7px
    left: 12px
    right: 100px
    height 25px
  &__author-avatar
    width: 25px
    height: 25px
    display: inline-block
    vertical-align bottom
    margin-right: 8px
    border-radius 25px
    overflow hidden
    img
      display: block
      width: 100%
      height: 100%
  &__comment-count
    font-size: 14px
    line-height: 18px
    color: #1d1c1c
    position: absolute
    right: 10px
    bottom: 5px
    .icon
      background: url("/images/icons_with_bg/comment.svg") no-repeat;
      background-size: 16px 16px
      width: 16px
      height: 16px
      display: inline-block
      vertical-align: middle
      margin-right: 5px
  &__price
    position: absolute
    right: 10px
    bottom: 5px
    font-size: 16px
    color: #1d1c1c
  &__author-name
    display: inline-block
    font-size: 14px
    color: #8b8b8b;
    line-height 18px;
    vertical-align bottom
    &:hover
      color: #1d1c1c
      text-decoration: underline
  .like
    position: absolute;
    top: 10px;
    right: 10px;

@media all and (max-width: 1179px) {
  .tile {
    width: 31%;
  }
}

@media all and (max-width: 875px) {
  .tile {
    width: 40%;
  }
}

@media all and (max-width: 500px) {
  .tile {
    width: 90%;
  }
}
