.cards-sort__icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #b2c0c6;
  margin: -5px 15px 0 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.cards-sort__icon .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.events-page .cards-sort__icon .icon {
  fill: #65048b;
  background-size: 18px 21px;
  height: 21px;
  width: 18px;
}

.blogs-page .cards-sort__icon .icon {
  fill: #02a511;
  background-size: 23px 24px;
  width: 23px;
  height: 24px;
  margin-left: 1px;
}