.main-page__banner-wrap.legacy {

    background-image: url("/images/banner/banner.png");
    background-color: #40c4ff;
    background-position: top center;
    background-repeat: no-repeat;
    height: 180px;
    position: relative;
    width: 100%;
    margin-bottom: 0


    .main-page__banner {
      width: 100%;
      height: 100%;
    }

    .main-page__banner-text {
      color: #fff;
      font-size: 24px;
      line-height: 32px;
      position: absolute;
      top: 50%;
      text-align: center;
      left: 50%;
      width: 100%;
      padding: 0 15%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

  .button-banner {
    background-color: #fff;
    font-family: 'SegoeUIBold', sans-serif;
    font-size: 26px;
    line-height: 25px;
    color: #1076ff;
    border: 0;
    padding: 9px 40px 11px;
    cursor: pointer;
    margin: 20px auto 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}