<div class="popup-wrap" id="password-reset-popup" style="display: block;">
    <div class="popup"><svg class="popup-close icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
        <div class="popup-title">Recover your password on Abbigli</div>
        <form class="popup-form">
            <div class="popup-form__field"><label class="popup-form__label" for="phone-number">Confirmation code</label>
                <div class="input-wrap"><input id="phone-number" class="input" type="text" value="4565">
                    <div><label>If you don't get your verification code within 5 minutes, please re-send the request</label></div>
                </div>
            </div>
            <div class="buttons-wrap"><button class="default-button" type="submit">Enter the code</button> <button class="cancel-button" type="submit">Back</button></div>
        </form>
    </div>
</div>

<div class="popup-wrap" id="password-reset-popup" style="display: block;">
    <div class="popup"><svg class="popup-close icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
        <div class="popup-title">Recover your password on Abbigli</div>
        <form>
            <form class="popup-form">
                <div class="popup-form__field"><label class="popup-form__label" for="phone-number">Set your password</label>
                    <div class="input-wrap"><input id="phone-number" class="input" type="text" value=""> </div>
                </div>
                <div class="buttons-wrap"><button class="default-button" type="submit">Apply</button></div>
            </form>
        </form>
    </div>
</div>
