.detail__info {
  padding: 30px 0 15px 0;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 20px;
}

.detail__info .social-buttons {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

body:not(.isMobile) .detail__info .social-btn {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.detail__date {
  font-family: 'SegoeUIBold';
  font-size: 18px;
  line-height: 22px;
  color: #90a4ae;
  margin-bottom: 10px;
}

.detail__city {
  font-family: 'SegoeUIBold';
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.detail__stat {
  color: #90a4ae;
}

.detail__views,
.detail__comments {
  position: relative;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
}

.detail__views {
  margin-right: 15px;
}

.detail__stat {
  margin-bottom: 15px;
}

.detail__stat .icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.detail__views .icon {
  fill: #90a4ae;
  background-size: 15px 10px;
  width: 15px;
  height: 10px;
}

.detail__comments .icon {
  fill: #92989b;
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
}

.detail__wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 20px;
  width: 100%;
}

.detail__content {
  margin-right: 90px;
  padding-bottom: 50px;
  width: 70%;
}

.detail__sidebar {
  width: 30%;
}

.detail__slider {
  background: none;
  padding: 0;
  margin-bottom: 30px;
}

body:not(.isMobile) .detail__content .facebook .icon {
  background-size: 9px 20px;
  width: 9px;
  height: 20px;
}

body:not(.isMobile) .detail__content .pinterest .icon {
  background-size: 16px 20px;
  width: 16px;
  height: 20px;
}

body:not(.isMobile) .detail__content .google-plus .icon {
  background-size: 27px 18px;
  width: 27px;
  height: 18px;
}

body:not(.isMobile) .detail__content .vkontakte .icon {
  background-size: 14px 18px;
  width: 14px;
  height: 18px;
}

body:not(.isDesktop) .sidebar__rating,
body:not(.isDesktop) .sidebar__tags {
  display: none;
}

.sidebar__section {
  margin-bottom: 30px;
}

.sidebar__title {
  font-family: 'SegoeUIBold';
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
  border-width: 0 0 3px 0;
  border-style: solid;
  margin-bottom: 20px;
}

.sidebar__item-preview {
  position: relative;
  padding-left: 110px;
  margin-bottom: 20px;
  min-height: 90px;
  display: block;
}

.sidebar__item-pic {
  background-color: #cfd8dc;
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border: 1px solid #cfd8dc;
}

.sidebar__item-pic img {
  width: 100%;
}

.sidebar__item-title {
  font-size: 16px;
  line-height: 20px;
  color: #263238;
  margin-bottom: 5px;
}

.sidebar__item-date {
  font-size: 12px;
  line-height: 16px;
  color: #90a4ae;
  text-transform: uppercase;
}

.sidebar__item-city {
  font-family: 'SegoeUIBold';
  font-size: 12px;
  line-height: 16px;
  color: #263238;
}

.isDesktop .detail__tags,
.isDesktop .detail__rating {
  display: none;
}

.detail__tags,
.detail__rating {
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 20px;
}

.detail__rating {
  padding-bottom: 15px;
}

.detail__tags .sidebar__section {
  margin: 0;
}

.detail__page {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1300px;
}

.detail__text {
  line-height: 20px;
  margin: 20px 0;
}

.detail__text h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}

.detail__text ul {
  margin: 0;
  padding-left: 15px;
  line-height: 24px;
  list-style: disc;
}

.detail__text ul li {
  list-style: disc;
}

.detail__text img {
  width: 100%;
  display: block;
}

.detail__text i {
  font-family: 'SegoeUIItalic';
  margin-top: 10px;
}

.detail__text p {
  margin: 20px 0;
}