.messages-page .user-profile__info {
  display: none;
}

.messages-page.content-wrapper::after {
  height: auto;
  display: none;
}

.messages-page.content-wrapper {
  margin: 0;
  height: 100%;
}

.messages-page ~ .footer {
  display: none;
}

.messages-page .container-fluid {
  height: 100%;
}

.messages-page .user-profile-page {
  padding-top: 200px;
}

.messages-page .profile__submenu {
  margin-top: -110px;
}

.messages-container {
  background-color: #fff;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  flex: 1;
  border: 1px solid #cfd8dc;
  margin: 0 20px;
  height: 100%;
}

.messages__search-bar {
  flex-basis: 550px;
  overflow-y: auto;
  min-height: 200px;
  border-right: 1px solid #cfd8dc;
}

.messages__chat-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.message-search__wrap {
  padding: 15px 10px;
  border-bottom: 1px solid #cfd8dc;
}

.message-search {
  padding: 0 35px 0 10px;
  position: relative;
}

.message-search__input {
  font-family: "SegoeUI";
  background-color: #fff;
  border: 1px solid #90a4ae;
  border-radius: 20px;
  box-sizing: content-box;
  font-size: 13px;
  line-height: 17px;
  margin: 0 -35px 0 -10px;
  outline: none;
  padding: 3px 34px 4px 9px;
  width: 100%;
}

.message-item {
  border-bottom: 1px solid #cfd8dc;
  padding: 9px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.message__preview-wrap {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 20px;
}

.message__preview {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 1px solid #b0bec5;
}

.message__preview-img {
  width: 60px;
  height: 60px;
}

.message__avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: -15px;
  bottom: 0;
  border: 1px solid #b0bec5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.message__avatar-img {
  width: 30px;
  height: 30px;
}

.message__attributes {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  position: relative;
}

.message__author {
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 2px;
}

.message__theme {
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 2px;
}

.message__text {
  font-size: 14px;
  line-height: 18px;
  color: #8a9093;
  text-overflow: ellipsis;
  overflow: hidden;
}

.message-item.active {
  background-color: #4091ff;
  color: #fff;
}

.message-item.active .message__avatar,
.message-item.active .message__preview {
  border-color: #fff;
}

.message-item.active .message__text,
.message-item.active .message__date{
   color: #fff;
}

.message-item.new .message__author {
  font-family: 'SegoeUIBold';
}

.message__delete {
  position: absolute;
  right: 9px;
  top: 9px;
  text-align: right;
}

.message__delete .icon {
  fill: #78909c;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.message__date {
  font-size: 13px;
  line-height: 17px;
  color: #b0bec5;
  margin-top: 5px;
}

.message-item.active .message__delete .icon {
  fill: #fff;
}

.message__notification {
  background-color: #1076ff;
  position: absolute;
  right: -30px;
  min-width: 26px;
  height: 26px;
  top: -5px;
  padding-top: 3px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.message__icon {
  position: absolute;
  background-color: #fff;
  right: -15px;
  bottom: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #b0bec5;
}

.message__icon .icon {
  fill: #b0bec5;
  background-size: 20px 16px;
  width: 20px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
}

.message-item.private .message__preview {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.messages__chat {
  height: 100%;
  position: relative;
}

.message__send {
  max-width: 980px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  width: 100%;
  bottom: -1px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.message__input {
  border: 1px solid #cfd8dc;
  padding: 20px 70px 20px 20px;
  border-bottom: 0;
  width: 100%;
}

.message__send-button {
  background-color: #1076ff;
  width: 44px;
  height: 44px;
  position: absolute;
  right: 8px;
  top: 50%;
  border: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.message__send-button:hover {
  background-color: #0e70f0;
}

.message__send-button:active {
  background-color: #0d69e0;
}

.message__send-button .icon {
  fill: #fff;
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message__group {
  border-top: 1px solid #c5d0d5;
  display: table;
  width: 100%;
  vertical-align: middle;
  position: relative;
  max-width: 960px;
  margin: 40px auto 0;
  padding-top: 15px;
}

.message__group:last-child {
  margin-bottom: 80px;
}

.messages__chat .message {
  display: table-row;
  text-align: left;
}

.message__ava {
  position: relative;
  overflow: hidden;
  display: table-cell;
  width: 60px;
  text-align: center;
  padding-right: 30px;
}

.message__ava-img {
  width: 60px;
  height: 60px;
  border: 1px solid #c5d0d5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.message__group-name {
  position: absolute;
  left: 50%;
  top: -17px;
  background-color: #fff;
  border: 1px solid #c5d0d5;
  color: #b0bec5;
  padding: 3px 30px 5px;
  max-width: 150px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.message__content-wrap {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.message-user .message__content-wrap {
  padding-top: 20px;
}

.message__content {
  padding: 12px 14px;
  margin: 0 50px 0 0;
  background: #eceff1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.message__content:after {
  border-color: transparent transparent #eceff1;
  border-style: solid;
  border-width: 0 8px 15px;
  content: "";
  left: -10px;
  position: absolute;
  top: 25px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.message__time {
  color: #b0bec5;
  text-align: right;
  display: table-cell;
  width: 70px;
  vertical-align: top;
  padding-top: 20px;
}

.message-user .message__time {
  padding-top: 30px;
}

.message-user .message__content:after {
  border-color: transparent transparent #d9e9ff;
  left: auto;
  right: -10px;
  top: 33px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.message-user .message__content {
  background-color: #d9e9ff;
  margin: 0 0 0 50px;
}

.messages__container {
  bottom: 0;
  left: 50%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
