.card.tag-card {
  padding: 0;
}

.tags-page .tag-card__img {
  height: 190px;
  overflow: hidden;
}

.tag-card .card-name-wrap {
  height: 55px;
}

.tag-card .card-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -2px;
  line-height: 30px;
}