.redactor-box {
    border: 1px solid #90a4ae;
    border-radius: 2px;
}

.textarea-post {
    margin: 0;
    box-sizing: border-box;
}

.post-create__error {
    color: #d10e0e;
    font-size: 13px;
    margin-top: 5px;
}

.post-create__error-input {
    border-color: #d10e0e;
    & .Select-control {
        border-color: #d10e0e;
    }
}

.post-create__error-images {
    height: 160px;
    width: 160px;
    text-align: center;
    padding: 5px;
    border: 1px dashed #d10e0e;
    position: relative;
}

.post-create__error-images__message {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 10px;
    right: 10px;
}