.tag-card {
  background-color: #fff;
  display: inline-block;
  margin: 0 5px 10px;
  position: relative;
  vertical-align: top;
  text-align: left;
  width: 350px;
  box-shadow: 0 0 4px #8f8e8e;
}

.tag-card__overlay {
  background: rgba(0,0,0,0.4);
  background: -webkit-linear-gradient(top, rgba(7,8,8,0) 0%, rgba(7, 8, 8, 0.1) 15%, rgba(7, 8, 8, 0.6) 100%);
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
}

.tag-card__cover {
  background-color: #b0bec5;
  position: relative;
  overflow: hidden;
  height: 290px;
  display: block;
  transform: none;

  &:hover .tag-card__title-wrap {
    color: #0090de;
  }
}

.tag-card__cover .card-edit .icon {
  fill: #fff;
}

.tag-card__cover .card-delete .icon {
  fill: #fff;
}

.tag-card__img {
  display: block;
  width: 100%;
  height: 100%;
}

.tag-card__title-wrap {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
  color: #fff;
  padding: 0 20px;
}

.tag-card__title {
  font-family: 'clear_sansbold';
  font-size: 22px;
  line-height: 26px;
  position: relative;
  padding: 0;
  text-align: left;
}

.tag-card--product .tag-card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-card__title .icon-wrap {
  background-color: #fff;
  border: 1px solid #aebcc3;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}

.tag-card__title .icon {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tag-card--product .tag-card__title .icon {
  fill: #ff5722;
  background-size: 20px 16px;
  width: 20px;
  height: 16px;
}

.tag-card--blog .tag-card__title .icon {
  fill: #02a511;
  background-size: 14px 16px;
  width: 14px;
  height: 16px;
}

.tag-card--event .tag-card__title .icon {
  fill: #65048b;
  background-size: 14px 16px;
  width: 14px;
  height: 16px;
}

.tag-card__price {
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin-top: 7px;
}

.tag-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 16px;
  color: #92989b;
  overflow: hidden;
}

.tag-card__author {
  display: flex;
  align-items: center;
  color: #92989b;
}

.tag-card__avatar {
  display: inline-block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.tag-card__name {
  margin-left: 5px;
}

.tag-card__actions {
  display: flex;
  align-items: center;
  .Like {
    flex-shrink: 0;
    margin-right: 5px;
  }
  .like-comment__button {
    flex-shrink: 0;
  }
}

.legacy {
  .share {
    font-size: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    overflow: hidden;
    max-width: 30px;
    white-space: nowrap;
    z-index: 1;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
  }

  .share:hover {
    max-width: 225px;
  }

  .share > .share-button {
    background-color: #fff;
    cursor: pointer;
  }

  .share > .share-button .icon {
    fill: #92989b;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }

  .share:hover > .share-button .icon {
    fill: #1076ff;
  }

  .share-button {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  .share-button .icon {
    fill: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.like-comment__button {
    font-size: 12px;
    line-height: 16px;
    color: #a9aeb0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
    line-height: 19px;
}


.card.legacy {
  background-color: #fff;
  padding: 10px;
  width: 244px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 5px 10px 5px;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  box-shadow: 0 0 4px #8f8e8e;
  @media (max-width: 412px){
    width: 100%
    margin-right:0
    margin-left: 0
  }
}

@media only all and (max-width: 414px) {
  .card.legacy {
    width: 100%;
    margin: 0 0 10px;
  }
}

.liked {
  fill: #ed3434!important;
}

.card-image__loaded {
  transition: all ease 0.5s;
}

.card-image__loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.card-image__loader {
  width: 25px;
  height: 25px;
  border: 3px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  top: 50%;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }


@media only screen and (max-width: 414px) {
  .tag-card {
    display: block;
    width: 100%;
    margin: 0 auto 10px;
  }
}
