.mobile-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  z-index: 10000;
  box-shadow: inset -5px 0 5px rgba(0,0,0,.15);
  transition: all linear 0.3s;
  transform: translateX(-300px);
  opacity: 0;
  display: block;
}

.mobile-menu--active {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu .main-menu__item {
  width: 100%;
  display: block;
}

.mobile-menu__current {
  transition: transform linear 0.3s;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-opened {
  transform: translateX(300px);
}

.mobile-menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0);
  z-index: 9999;
  transition: all linear 0.3s; 
  pointer-events: none;
}

.mobile-menu__overlay--active {
  background-color: rgba(0,0,0, .8);
  pointer-events: auto;
}

.main-menu__footer {
  margin-top: 15px;
  border-top: 1px solid #ececec;

  .social-buttons {
    margin-top: 15px;
  }

  .social-btn + .social-btn {
    margin-left: 10px;
  }
}