<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>pupie-isomorph</title>

  <link disabled rel="stylesheet" href="<%= baseUrl %>assets/styles.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <div id="app"><%- markup %></div>

<script src="<%= baseUrl %>assets/main.js" async></script>
</body>

</html>