.input-city {
  position: relative;
  max-width: 280px;

  .input {
    padding-left: 30px;
    padding-right: 30px;
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 9px;
    background-size: 14px 20px;
    width: 14px;
    height: 20px;
  }

  .icon-clear {
    width: 16px;
    height: 16px;
    right: 10px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}