.popup.mobile-search__popup.select-popup {
  width: 450px;
}

.select-popup__input-wrap {
  width: 100%;
  height: 41px;
  flex-shrink: 0;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}

.select-popup__input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 0 46px 0 19px;
  border: none;
}

.select-popup__results-wrap {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.select-popup__search-icon {
  width: 18px;
  height: 20px;
  fill: #686868;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}