.blog-card {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  height: 500px;
  margin: 0 5px 10px;
  position: relative;
  width: 350px;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  box-shadow: 0 0 4px #8f8e8e;
}

.blog-card__content {
  color: #263238;
  height: 420px;
  overflow: hidden;
  display: block;
}

.blog-card__img {
  position: relative;
  height: 260px;
}

.blog-card__avatar {
  background-color: #fff;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: -25px;
  overflow: hidden;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.blog-card__avatar img {
  width: 100%;
  height: 100%;
}

.blog-card__name {
  font-family: 'clear_sansbold';
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 35px 0 15px 0;
  padding: 0 20px;
}

.blog-card__text {
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
}

.blog-card__date {
  font-size: 12px;
  line-height: 16px;
  color: #90a4ae;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.blog-card__content:hover .blog-card__name,
.blog-card__content:hover .blog-card__text {
  color: #1076ff;
}

.blog-card .like-comment {
  padding: 0 20px;
  text-align: left;
  margin-top: 15px;
}

.blog-card .like-comment__button {
  margin-right: 10px;
}




.like-comment__button {
  font-size: 12px;
  line-height: 16px;
  color: #a9aeb0;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  line-height: 19px;
}

.like-comment__button:last-child {
  margin: 0;
}

.like-comment__button .icon-wrap {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: 1px solid #92989b;
  margin-top: -3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 3px;
}

.like-comment__button .icon {
  background-size: 12px 13px;
  width: 12px;
  height: 13px;
  fill: #92989b;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.like-comment__button:active, .like-comment__button.active {
  color: #1076ff;
}

.like-comment__button:active .icon-wrap, .like-comment__button.active .icon-wrap{
  border-color: #1076ff;
}

.like-comment__button:active .icon, .like-comment__button.active .icon {
  fill: #1076ff;
}