.loader01 {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  top: 50%;
  display: inline-block;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); }
  }

.loader__wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -41%, 0);
}

.loader__wrapper--hide {
  display: none;
}

.loader__children {
  display: inline-block;
  opacity: 1;
}

.loader__children--hide {
  opacity: 0;
}