.slideout-menu {
  padding: 0;
  width: 265px;
}

.slideout-open .slideout-menu {
  width: 265px;
  padding: 0;
}

.slideout-open .slideout-menu .main-menu__item{
  display: block
  width: auto
  &:hover {
    background-color: rgba(238,238,238,0.3);
  }
}

.slideout-open .slideout-menu .social-buttons {
  display flex
  justify-content: space-between;
}

.slideout-open .slideout-menu .main-menu__footer-item {
  margin-right: 15px
  margin-left: 15px
}

.isMobile .header__menu-item.open-menu .dropdown,
.isMobile .header__menu-item.open-menu .dropdown-corner {
  display: none !important;
}

.slideout-menu .main-menu__item-corner {
  margin-left: 65px;
  &:after {
    border-color: transparent transparent #f9f9f9 transparent;
  }
}


.user-menu {
  font-size: 14px;
  position: absolute;
  top: 87px;
  right: 0;
  padding: 10px 0 0 0;
  background: #fff;
  border: 1px solid #90a4ae;
  color: #1075ff;
  z-index: 5;
  text-align: left;
  display: none;
  min-width: 192px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px #6a7377;
  box-shadow: 0 2px 4px #6a7377;

  &:before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: #fff;
    right: 31px;
    top: -2px;
    z-index: 10;
    border-left: 1px solid #90a4ae;
    border-top: 1px solid #90a4ae;
    -webkit-transform: rotate(45deg) translate(-50%,0);
    -ms-transform: rotate(45deg) translate(-50%,0);
    transform: rotate(45deg) translate(-50%,0);
  }
  &--open {
    display: block
  }
  &__name {
    font-family: "clear_sansregular", Helvetica, Arial, sans-serif;
    font-weight: bold
    color: #263238;
    padding: 0 20px;
    margin-bottom: 5px;
    display: block;
  }
  &__item {
    position: relative;
    display: block;
    padding: 8px 20px 6px 40px;
    color: #263238;
    &:hover {
      background-color: #f6f6f6;
      text-decoration: none;
      color: #1076ff;
      .icon {
        fill: #41abe4;
      }
      &.profile .icon {
        background-position: -15px 0, 0 0;
      }
    }
    .icon {
      fill: #acacac;
      position: absolute;
      left: 20px;
      top: 50%;
      -webkit-transform: translate(0,-50%);
      transform: translate(0,-50%);
    }
    &.profile .icon {
        background-image: url("/images/icons_with_bg/user.svg"), url("/images/icons_with_bg/user_active.svg");
        background-position: 0 0, -15px 0;
        background-repeat: no-repeat;
        background-size: 15px 16px;
        width: 15px;
        height: 16px;
    }
    &.messages .icon {
      background-size: 15px 10px;
      width: 15px;
      height: 10px;
    }
    &.feed .icon {
      background-size: 12px 12px;
      width: 12px;
      height: 12px;
    }
    &.logout .icon {
      background-size: 14px 12px;
      width: 14px;
      height: 12px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .user-menu {
    top: 65px;
  }
}

@media all and (min-width: 1001px) {
  .search-mobile {
    display: none;
  }
}

