.card
  background-color: #fff;
  padding: 0px;
  width: 228px;
  height: 223px;
  margin: 8px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  box-shadow: none
  border 1px solid #b2b2b2;
  box-sizing border-box
  border-radius 3px;
  transition: all .3s;
  &:hover
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);


.card-item
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  height: auto;
  img
    display: block


.card-item:nth-child(2) {
  margin-right: 4%;
}

.card-name-wrap {
  height: 46px;
  overflow: hidden;
  position: relative;
  width: 100%
}

.card-name {
  font-family: 'clear_sansbold', sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: #263238;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 95%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space nowrap
}

@media only screen and (max-width: 480px) {
  .slider-wrapper {
    .card {
      width: 160px;
      height: 160px;
      margin: 6px;

      &-name {
        font-size: 12px;
      }
      &-name-wrap {
        height: 30px;
      }
    }
  }
  .slider-wrapper {
    .slick-prev, .slick-next {
      display: none;
    }
  }
}