.slider-wrapper
  position: relative
  margin: 0 auto;

  .slider-nav
    position: absolute;
    top: 50%;
    width: 100%
    margin: -5px auto 0 auto

    @media (max-width: 1200)
      width 1000px

    .nav-disabled
      cursor arrow
      opacity 0.6

    .slider-left
      cursor pointer
      position: absolute
      left: -50px

    .slider-right
      cursor pointer
      position: absolute
      right: -50px


  .slick-prev::before, .slick-next::before {
    background: url("/images/icons_with_bg/next.svg") no-repeat;
    content: '';
    display: block;
    background-size: 14px 28px;
    width: 14px;
    height: 28px;
  }
  .slick-prev::before {
    transform:rotate(-180deg);
  }
  .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    background: url("/images/icons_with_bg/next-disabled.svg") no-repeat;
    opacity: 1;
    cursor: default;
  }

.slider
  max-width 1220px;
  margin: 0 auto;
  overflow hidden
  position: relative

  .slider-inner
    display: block
    transition all .5s



.slider-pagination {
  text-align: center;
  display: none;
  margin: 20px 0 50px 0;

  &__item {
    background-color: #e1e1e1;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: #0090de;
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider-wrapper {
      .slick-prev {
        left: -15px;
      }
      .slick-next {
        right: -20px;
      }
  }
}

@media only screen and (max-width: 480px) {
    .slider-pagination {
      display: block;
    }
}