.footer {
  background-color: #e0e0e0;
  padding: 20px 0;
  height: 140px;
  position: relative;
}

.footer-content {
  margin: 0 15px;
  position: relative;
}

.footer-menu {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.isDesktop .footer-menu {
  text-transform: uppercase;
}

.footer-menu__item {
  color: #263238;
}

.footer-copyright {
  color: #96999a;
  border-top: 1px solid #b8c2c7;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-h1 {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.isMobile .footer-h1, .isTablet .footer-h1 {
    display: none;
}

.footer .social-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.footer .social-btn {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer .social-btn:last-child {
  margin-right: 0;
}

.footer-menu__marker {
  padding: 0 15px;
}