@import 'icons';
@import 'mixin';
@import 'variables';

.pagination {
  font-size: 0;
  text-align: center;
  margin: 30px 0;

  &__item {
    font-size: 16px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 5px;
    height: 30px;
    min-width: 30px;
    color: #1d1c1c;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    padding: 0 5px;

    &.active {
      color: #fff;
      background-color: @goods;
      border-color: @goods;
    }
  }
  &__nav {
    font-size: 16px;
    line-height: 26px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    padding: 0 10px;
    min-width: 30px;
    cursor: pointer;
    position: relative;

    &.disabled {
      opacity: 0.3;
      cursor: default;
    }

    .icon {
      fill: #d0d0d0;
      width: 9px;
      height: 14px;
      background-size: 9px 14px;
      display: inline-block;
      vertical-align: top;
      margin-top: 8px;
    }

    &:first-child {
      margin-right: 10px;
      .icon {
        margin-right: 5px;
        transform: rotate(-180deg);
      }
    }
    &:last-child {
      margin-left: 10px;
      .icon {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .pagination {
    &__nav {
      font-size: 0;
      &:first-child {
        margin-right: 5px;
        .icon {
          margin-right: 0;
        }
      }
      &:last-child {
        margin-left: 5px;
        .icon {
          margin-left: 0;
        }
      }
    }
  }
}