.cards-wrap
  &.transparent
    opacity: 0
    transform: translate(0,-10px)
  @media phone
    padding-left: 10px
    padding-right: 10px
  &.legacy
    max-width: auto;

  &__title
    border-bottom: 1px solid #90a4ae;
    color: #90a4ae;
    font-family: "SegoeUIBold";
    font-size: 20px;
    line-height: 24px;
    margin: 0 30px 20px;
    padding-bottom: 10px;
    text-align: left;

.cards-wrap.legacy
  max-width none
