@import 'icons';
@import 'mixin';
@import 'variables';

.filter {
  font-size: 0;
  margin-bottom: 30px;
  position: relative;
  text-align: right;

  .default-button {
    .button(default);
    width: 170px;
    margin: 15px 0 0 15px;
  }

  .price-range {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 0 15px;
    &__from {
      border-radius: 3px 0 0 3px;
    }
    &__to {
      border-radius: 0 3px 3px 0;
      border-left: 0;
    }
    .input {
      width: 100px;
    }
  }

  .color-choice {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    margin-top: 15px;
    &__color {
      margin: 6px;
    }
    .input {
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      padding-right: 30px;
    }
  }

  .choice-section {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    .input {
      border-radius: 3px 0 0 3px;
    }
    &__dropdown {
      left: -20px;
      &:before {
        right: auto;
        left: 70px;
      }
      &:after {
        right: auto;
        left: 71px;
      }
    }
  }

  .select {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    &_distance {
      width: 255px;
      .input {
        border-radius: 0 3px 3px 0;
      }
    }
    &_new {
      width: 175px;
      margin-right: 15px;
    }
  }

  &__search {
    position: relative;
    padding: 20px 160px 20px 30px;

    .default-button {
      width: 145px;
      position: absolute;
      right: 0;
      top: 20px;
    }
  }
}

@media only screen and (min-width: 761px) and (max-width: 860px) {
  .filter {
    .select {
      &_new {
        width: 145px;
      }
      &_distance {
        width: 235px;
      }
    }
    .choice-section {
      width: 170px;
    }
    .color-choice {
      width: 150px;
    }
    .input {
      &::-webkit-input-placeholder {
        font-size: 14px;
      }
      &::-moz-placeholder {
        font-size: 14px;
      }
      &:-ms-input-placeholder {
        font-size: 14px;
      }
      &:-moz-placeholder {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .filter {
    display: none;
  }
}