@import 'variables';
@import 'mixin';

.profile-about {
  &__header {
    font-size: 24px;
    font-family: 'ClearSansBold';
  }

  &__info {
    width: 100%;
    text-align: left;
    font-size: 16px;
    position: relative;

    &-textarea {
      width: 100%;
      max-width: 100%;
      min-height: 300px;
      border: 1px solid #e8e9e8;
      border-radius: 4px;
      padding: 20px 25px;
      font-size: 16px;
    }
  }

  &__save-buttons {
    color: red;
    .Button:last-child {
      margin-left: 15px;
    }
  }

  &__text {
    color: #8b8b8b;

    figure {
      margin: 10px 0;
    }

    img {
      width: 100%;
    }
  }

  &__contact {
    margin-top: 25px;
    padding: 25px 0;
    border-top: 1px solid #dcdcdc;
  }

  &__contact-header {
    font-size: 16px;
    font-family: 'ClearSansBold';
    margin-top: 0;
  }

  &__contact-items {
    color: #8b8b8b;

    .profile-about__contact-item {
      position: relative;
      padding-left: 26px;
      margin-bottom: 10px;
    }

    .icon {
      fill: #8b8b8b;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .icon-phone {
      width: 20px;
      height: 20px;
    }

    .icon-mail {
      width: 20px;
    }
  }

  &__social-item {
    line-height: 30px;
    & + .profile-about__social-item {
      margin-left: 40px;
    }

    .social-btn {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .Input {
    &__wrapper {
      width: 100%;
      max-width: 280px;
    }

    .social-btn {
      width: 27px;
      height: 27px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.post-create__error-input {
  border-color: #d10e0e;
}

@media screen and (max-width: 1105px) {
  .input-city {
    max-width: initial;
  }

  .profile-form__buttons {
    position: relative;
    margin-top: 15px;
  }
}

@media screen and (max-width: 826px) {
  .profile-my {
    font-size: 0;
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    text-align: center;
  }

  .profile-my__item {
    padding: 0;
  }

  .profile-my__item .icon {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .profile-info__inner {
    padding: 30px 60px 30px 180px;
  }
}

@media screen and (max-width: 768px) {
  .profile-header {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .profile-info__inner {
    padding: 174px 0px 30px 0px;
  }

  .profile-avatar {
    left: 50%;
    transform: translateX(-50%);
  }

  .profile-my {
    max-width: initial;
    position: relative;
    margin-top: 15px;
  }

  .profile-my__item-number {
    font-size: 14px;
  }

  .profile-my__item {
    display: inline-block;
    width: 20%;

    .icon {
      width: 22px;
      height: 22px;
    }
  }

  .profile-my__item-number {
    right: 0px;
  }
}
