.buttons-social {
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 15px;
}

.button-social {
  font-family: 'SegoeUIBold', san-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 195px;
  margin: 0 25px 20px 0;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.button-social:last-child {
  margin-right: 0;
}

.button-social:hover {
  color: #fff;
}

.button-social .icon-wrap {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 10px;
}

.button-social .icon {
  fill: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-social.facebook .icon-wrap {
  background-color: #375289;
}

.button-social.facebook:hover .icon-wrap {
  background-color: #3f5da0;
}

.button-social.facebook .icon {
  background-size: 14px 30px;
  width: 14px;
  height: 30px;
}

.button-social.google-plus .icon-wrap {
  background-color: #bd4130;
}

.button-social.google-plus:hover .icon-wrap {
  background-color: #d54a38;
}

.button-social.google-plus .icon {
  background-size: 38px 24px;
  width: 38px;
  height: 24px;
}

.button-social.vkontakte .icon-wrap {
  background-color: #3e5c80;
}

.button-social.vkontakte:hover .icon-wrap {
  background-color: #4a6d97;
}

.button-social.vkontakte .icon {
  background-size: 21px 26px;
  width: 21px;
  height: 26px;
}