.button-banner {
  background-color: #fff;
  font-family: 'SegoeUIBold', sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #1076ff;
  border: 0;
  padding: 9px 40px 11px;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}