@import 'base';
@import 'variables';
@import 'mixin';
@import '../../components-lib/Grid/Grid.less';

.app {
  display: flex;
  flex-grow: 1;
}

.global-wrapper {
  width: 100%;
  flex-grow: 1;
  height: auto;
}

.section .default-button.showmore-button {
  display: inline-block;
}

.cards-wrap {
  text-align: center;
}
