html {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  flex: 1 0 auto;
  display: flex;
}

.app {
  display: flex;
}

.disable-scroll {
  overflow: hidden;
}

.global-wrapper {
  padding-bottom: 87px;
}

@media only screen and (max-width: 670px) {
  .global-wrapper {
    padding-bottom: 55px;
  }
}

@media (max-width: 767px) {
   .disable-scroll {
        position:fixed;
   }
}