html, body, .global-wrapper {
  display: flex;
  flex-direction: column;
}

body, .global-wrapper, .content-wrapper {
  flex-grow: 1;
}

.disable-scroll {
  overflow: hidden;
}

@media (max-width: 767px) {
   .disable-scroll {
        position:fixed;
   }
}