.tag-page {
    text-align: center;
}

.page__links {
    padding: 15px 0;
}

.page__link {
    font-size: 18px;
    margin-right: 10px;
    color: #B2B2B2;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: #1B1B1B;
    }
}

.page__link--active {
    color: #1B1B1B;
    text-decoration: underline;
}