.messages__back-button {
  background-color: #007CC1;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 5px;
  display: none;

  &:hover {
    background-color: #1773a5;
  }
}

@media all and (max-width: 500px) {
  .messages__back-button {
    display: block;
  }
}